/*******************************************************************************************1500*/
@media screen and (min-width:1500px), screen and (max-width:1499px){
/******************************Header */
/******************************Header */
/******************************Form ***/
    .form-cont{
        width: 750px;
    }
/******************************Form ***/
/******************************Button */ 
/******************************Button */
}

/*******************************************************************************************1200*/
@media screen and (max-width:1200px){
/******************************Header */
/******************************Header */
/******************************Form ***/
    
    .form-cont{
        width: 700px;
    }
/******************************Form ***/
/******************************Button */
/******************************Button */
}

/*******************************************************************************************1024*/
@media screen and (max-width:1024px){
/******************************Header */
/******************************Header */
/******************************Form ***/
    .form-cont{
        width: 630px;
    }
/******************************Form ***/
/******************************Button */
/******************************Button */
}

/********************************************************************************************768*/
@media screen and (max-width:768px){
/******************************Header */
/******************************Header */
/******************************Form ***/
    .form-cont{
        display: grid;
        width: auto;
    }
/******************************Form ***/
/******************************Button */
/******************************Button */
}

/********************************************************************************************480*/
@media screen and (max-width:480px){
/******************************Header */
/******************************Header */
/******************************Form ***/
/******************************Form ***/
/******************************Button */
/******************************Button */
}

/********************************************************************************************320*/
@media screen and (max-width:320px){
/******************************Header */
/******************************Header */
/******************************Form ***/
/******************************Form ***/
/******************************Button */
/******************************Button */
}