@media screen and (min-width:1500px){
    .block-cont__1{
        position: relative;
        top: 650px;
    }
/*************************************content*/
    .block-cont__1__h{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    } 
    .block-cont__1__h__btn{
        display: grid;
    }
    .block-cont__1__h h1{
        width: 538px;
    }
    
/************************************button */
    .block-cont__1__h__btn p{
        position: relative;
        left: 35px;
    }
}
/********************************************************************************************1499*/
@media screen and (max-width:1499px){
    .block-cont__1{
        position: relative;
        top: 650px;
    }
/*************************************content*/
    .block-cont__1__h{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    } 
    .block-cont__1__h__btn{
        display: grid;
    }
    .block-cont__1__h h1{
        width: 50%;
    }
/************************************button */
    .block-cont__1__h__btn p{
        position: relative;
        left: 35px;
    }
}
/********************************************************************************************1200*/
@media screen and (max-width:1200px){
}
/********************************************************************************************1024*/
@media screen and (max-width:1024px){
}
/********************************************************************************************768*/
@media screen and (max-width:768px){
    .block-cont__1{
        position: relative;
        top: 280px;
    }
/*************************************content*/
    .block-cont__1__h h1{
        width: 100%;
    }
    .block-cont__1__h{
        display: grid;
    } 
/************************************button */
}
/********************************************************************************************480*/
@media screen and (max-width:480px){
/************************************button */
    .block-cont__1__h__btn p{
        position: static;
        text-align: center;
    }
    .width-btn-main{
        height: 70px;
    }
}
/********************************************************************************************320*/
@media screen and (max-width:320px){
}    