@media screen and (min-width:1500px){
    .ins_c_block{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 20px;
    }
    .b-p_header-2{
        font-size: 24px;
    }
    .ins_c_b_container{
        height: 600px;
        grid-template-rows: 100px 80px 100px 1fr 30px;
    }
    .b-p_header-3{
        font-size: 16px;
    }
    /******************************Form ***/
    .basket_cont{
        display: grid;
        grid-template-columns: 1fr 20px 1fr;
    }
    .basket_c_form form{
        justify-content: end;
    }
    .basket_inp-style{
        width: 500px;
    }
    .basket_btn-style{
        height: 80px;
    }
    /******************************Form ***/
    /******************************Basket */
    .b_i_t_b_name-counter{
        display: none;
    }
    .b_i_t_b_counter{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .b__counter_price{
        display: none;
    }
    .b_i_t_b_name{
        gap: 0;
    }

    .basket_c_block{
        grid-column: 1;
    }
    
    .basket_c_form{
        grid-column: 3;
    }
    /******************************Basket */
}

/*******************************************************************************************1500*/
@media screen and (max-width:1499px){
    /******************************insurance */
    .ins_c_block{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 20px;
    }
    .b-p_header-2{
        font-size: 24px;
    }
    .ins_c_b_container{
        height: 650px;
        grid-template-rows: 100px 80px 100px 1fr 40px;
    }
    .b-p_header-3{
        font-size: 16px;
    }
    /******************************insurance */
    /******************************Form ***/
    .basket_cont{
        display: grid;
        grid-template-columns: 1fr 20px 1fr;
    }
    .basket_c_form form{
        justify-content: end;
    }
    .basket_inp-style{
        width: 500px;
    }
    .basket_btn-style{
        height: 80px;
    }
    /******************************Form ***/
    /******************************Button */ 
    /******************************Button */
    /******************************Basket */
    .b_i_t_b_name-counter{
        display: none;
    }
    .b_i_t_b_counter{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .basket_c_block{
        grid-column: 1;
    }
    
    .basket_c_form{
        grid-column: 3;
    }
    /******************************Basket */
}

@media screen and (max-width:1300px){
    .b_i_t_b_name-counter{
        margin-top: 5px;
        display: flex;
        gap: 10px;
    }
    .b_i_t_b_counter{
        display: none;
    }
}
    /*******************************************************************************************1200*/
    @media screen and (max-width:1200px){
        .b-p_header-2{
            font-size: 22px;
        }
        .b-p_header-3{
            font-size: 14px;
        }
        .ins_c_b_container{
            height: 700px;
        }
    }

    /*******************************************************************************************1080*/
    @media screen and (max-width:1120px){
        .ins_c_block{
            grid-template-columns: none;
            grid-row-gap: 20px;
        }
        .ins_c_b_container{
            height: 450px;
            grid-template-rows: 80px 40px 60px 1fr 40px;

        }
        /******************************Form ***/
        .basket_cont{
            display: grid;
            grid-template-columns: none;
        }
        .basket_c_form{
            margin-top: 100px;
        }
        .basket_c_form form{
            justify-content: normal;
        }
        .basket_inp-style{
            width: auto;
        }
        .b-p_header-2{
            font-size: 24px;
        }
        .b-p_header-3{
            font-size: 16px;
        }
        /******************************Form ***/
    /******************************Basket */
        .b_i_t_b_name-counter{
            display: none;
        }
        .b_i_t_b_counter{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .basket_c_block{
            grid-column: auto;
        }
        
        .basket_c_form{
            grid-column: auto;
        }
    }
    /******************************Basket */
    
    /*******************************************************************************************1024*/
    @media screen and (max-width:1024px){

    }
    
    /********************************************************************************************768*/
    @media screen and (max-width:768px){
        .b-p_header-2{
            font-size: 22px;
        }
        .b-p_header-3{
            font-size: 14px;
        }
        .basket_btn-style{
            height: 70px;
        }
        /******************************Basket */
        .b_i_t_b_name-counter{
            margin-top: 5px;
            display: flex;
            gap: 10px;
        }
        .b_i_t_b_counter{
            display: none;
        }
    /******************************Basket */
    }

    /********************************************************************************************480*/
    @media screen and (max-width:550px){
        
    }
    
    /********************************************************************************************480*/
    @media screen and (max-width:480px){
        .b-p_header-2{
            font-size: 20px;
        }
        .b-p_header-3{
            font-size: 12px;
        }
    }
    
    /********************************************************************************************320*/
    @media screen and (max-width:320px){
        .basket_btn-style{
            height: 60px;
        }
        /******************************Basket */
        .b_i_t_b_name-counter{
            display: grid;
            gap: 5px;
        }
    /******************************Basket */
    }