/*******************************************************************************************1500<*/
@media screen and (min-width:1500px){
    .popup-cont{
        grid-template-columns: 2fr 1fr;
    }
    .popup-margin{
        margin: 0 240px;
    }
}

/*******************************************************************************************1499*/
@media screen and (max-width:1499px){
    .popup-cont{
        grid-template-columns: 1.5fr 1fr;
    }
    .popup-margin{
        margin: 0 130px;
    }
}
    
/*******************************************************************************************1200*/
@media screen and (max-width:1200px){
    .popup-margin{
        margin: 0 100px;
    }
}
    
/*******************************************************************************************1024*/
@media screen and (max-width:1024px){
    .popup-margin{
        margin: 0 80px;
    }
}
    
/********************************************************************************************768*/
@media screen and (max-width:768px){
    .popup-cont{
        grid-template-columns: none;
    }
    .popup-margin{
        margin: 0 65px;
    }
}
    
/********************************************************************************************480*/
@media screen and (max-width:480px){
    .popup-margin{
        margin: 0 45px;
    }
}
    
/********************************************************************************************320*/
@media screen and (max-width:320px){
    .popup-margin{
        margin: 0 30px;
    }
}