/*******************************************************************************************1500<*/
@media screen and (min-width:1500px), screen and (max-width:1499px){
    .contact_blocks{
        grid-template-columns: repeat(4, 1fr);
    }
}
    
/*******************************************************************************************1200*/
@media screen and (max-width:1200px){
    
}
    
/*******************************************************************************************1024*/
@media screen and (max-width:1024px){
    .contact_blocks{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .contact_block-cont{
        align-content: space-between;
    }
}
    
/********************************************************************************************768*/
@media screen and (max-width:768px){

}
    
/********************************************************************************************480*/
@media screen and (max-width:480px){
    .contact_blocks{
        grid-template-columns: none;
    }
}
    
/********************************************************************************************320*/
@media screen and (max-width:320px){
    
}