.ins_c_head{
    padding: 150px 0;
    text-align: center;
}
.ins_c_head h1{
    margin-bottom: 40px;
}

.ins_c_b_container{
    border: 1px solid var(--gray_color);
    display: grid;
    grid-template-rows: 100px 80px 100px 1fr 40px;
    padding: 40px 30px;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
}


.ins_c_b_container button{
    border: none;
    border-radius: 100px;
    /* height: 40px; */
    background: var(--blue_color);
    color: var(--white_color);
    font-family: var(--weight_medium);
    padding: 5px 30px;
    display: flex;
    align-items: center;
}

.basket-block{
    margin: 100px 0 40px;
}

.basket_cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.basket_c_block>:first-child{
    margin-bottom: 15px;
}

.basket_c_form form{
    display: grid;
    grid-row-gap: 20px;
    justify-content: end;
}

.basket_btn-style{
    border: none;
    border-radius: 100px;
    height: 60px;
    background: var(--blue_color);
    color: var(--white_color);
}


.basket_inp-style{
    min-width: 100px;
    padding: 0 20px;
    height: 40px;
    border: 1px solid var(--black_color);
    padding: 0 16px;
    border-radius: 100px;
    font-size: var(--header_3);
    font-family: 'Rubik Regular';
}