.ins_c_head{
    padding: 150px 0;
    text-align: center;
}
.ins_c_head h1{
    margin-bottom: 40px;
}

.ins_c_b_container{
    border: 1px solid var(--gray_color);
    display: grid;
    grid-template-rows: 100px 80px 100px 1fr 40px;
    padding: 40px 30px;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
}


.ins_c_b_container button{
    border: none;
    border-radius: 100px;
    /* height: 40px; */
    background: var(--blue_color);
    color: var(--white_color);
    font-family: var(--weight_medium);
    padding: 5px 30px;
    display: flex;
    align-items: center;
}

.basket-block{
    margin: 100px 0 40px;
}

.basket_c_block>:first-child{
    margin-bottom: 15px;
}

.b_c_b_sum{
    margin-top: 15px;
    text-align: end;
}

.basket_c_form form{
    display: grid;
    grid-row-gap: 20px;
    justify-content: end;
}

.basket_btn-style{
    border: none;
    border-radius: 100px;
    height: 60px;
    background: var(--blue_color);
    color: var(--white_color);
}


.basket_inp-style{
    min-width: 100px;
    padding: 0 20px;
    height: 40px;
    border: 1px solid var(--black_color);
    padding: 0 16px;
    border-radius: 100px;
    font-size: var(--header_3);
    font-family: 'Rubik Regular';
}

.b_i_tour{
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: space-between;
}

.b_i_t_block-tour, .b_i_t_block-name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.b_i_t_b_img{
    height: 80px;
    max-width: 80px;
    border-radius: 10px;
}

/* .b_i_t_b_name-counter, .b_i_t_b_counter{
    gap: 10px;
} */

.b__counter-cont{
    display: flex;
    align-items: center;
    gap: 5px;
}

.b_i_t_b_remove, .plus, .minus{
    height: 20px;
    width: 20px;
    border: 1px solid var(--black_color);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.b_i_t_b_remove img, .b__counter-cont img{
    height: 8px;
    width: 8px;
}