.promotion-cards{
    margin: 70px 0;
}

.prom-cards_cont{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px 80px; */
}

.prom_card-cont{
    /* background: rgb(181, 181, 181); */
    display: grid;
    grid-row-gap: 5px;
    /* height: 270px; */
}

.prom_card_img{
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    height: 270px;
    width: 100%;
}

.prom_card_name{
    font-size: var(--header-adap-h2_3);
}

.prom_card_description{
    /* text-indent - отступ первой строки*/
    /* text-indent: 50%; */
    position: relative;
    /* width:300px; */
    white-space: nowrap;
    overflow: hidden;
}

.prom_card_description::after{
    content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
	pointer-events: none;
}