.promotion-cards{
    margin: 70px 0;
}

.prom-cards_cont{
    display: grid;
}

.prom_card-cont{
    display: grid;
    grid-row-gap: 5px;
}

.prom_card_img{
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    height: 270px;
    width: 100%;
}

.prom_card_name{
    font-size: var(--header-adap-h2_3);
}

.prom_card_description{
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.prom_card_description::after{
    content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
	pointer-events: none;
}