#tour{
    margin: 40px 0;
}
.tour-cont{
    display: grid;
}

.tour_content-cont{
    /* height: 100px; */
    /* background: whitesmoke; */
    margin-top: 40px;
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr; */

}

.tour_list-cont{
    display: flex;
    justify-content: end;
    gap: 20px;
}
/************************************************search*/
.tour_list_search{
    height: 25px;
    width: 220px;
    /* width: 25px; */
    display: flex;
    align-items: center;
    border: 1px solid var(--black_color);
}

.tour_list_search input{
    /* height: 25px; */
    width: 220px;
    border: none;
    /* border: 1px solid var(--black_color); */
    padding-left: 10px;
    font-size: var(--header_4);
    font-family: "Rubik Regular";
}

.tour_list_search div{
    height: 25px;
    width: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
}

.tour_list_search img{
    height: 16px;
}
/************************************************search*/
/************************************************order**/
.tour_list_order{
    display: flex;
    align-items: center;
    border: 1px solid var(--black_color);
}

.tour_list_order p{
    font-size: var(--header_4);
    width: 220px;
    padding-left: 10px;
}

.tour_list_order div{
    height: 25px;
    width: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.tour_list_order img{
    height: 6px;
}

.t_l_order_ul{
    background: var(--white_color);
    position: absolute;
    padding: 0 10px;
    font-size: var(--header_4);
    border: 1px solid var(--black_color);
    border-top: none;
    width: 247px;
}
/* .t_l_order_ul:first-child{
    margin: 5px 0;
} */
.t_l_order_ul li{
    margin: 5px 0;
}

#order_tringle{
    transform: rotate(-90deg);
    transition: 0.05s;
}
/************************************************order**/
/************************************************filters**/

.tour_filter-cont{
    display: grid;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}

.t_f_checkboxs-cont, .t_f_container{
    display: grid;
    grid-row-gap: 10px;
}

.t_f_checkbox{
    display: flex;
    align-items: start;
    gap: 5px;
}

/* .t_f_c_text{
    background: rebeccapurple;
} */

.t_f_checkbox p, .t_f_c_text p{
    font-size: var(--header_4);
}

.filter_on{
    background: var(--blue_color);
    padding-left: 10px;
    /* margin-right: 50px; */
    border-radius: 40px;
    color: var(--white_color) !important;
}

/* .filter_on */

/* .filter_on p, .filter_on li{
    color: var(--white_color) !important;

} */


/* .filter_off{ */
    /* color: var(--black_color); */
    /* border-radius: 40px; */
/* } */
/* .filter-off p{
    color: var(--black_color) !important;
} */
/************************************************filters**/
/************************************************tour_Popup**/
/* .tour-popup_cont{
    position: absolute;
    background: red;
    height: 150px;
    width: 150px;
    top: 20px;
    right: 90px;
} */
/************************************************tour_Popup**/
/************************************************tour card**/
.tour_cards{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-column-gap: 15px; */
}

.tour_card-cont{
    display: grid;
    grid-row-gap: 10px;
}

.tour_card_img{
    height: 276px;
    /* width: 276px; */
    background: url(../img/Astrahan.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.tour_card_block-cont{
    display: grid;
    grid-row-gap:5px;
}

/* .tour_card_buttons {
    display: flex;
    justify-content: space-between;
} */

.tour_card_buttons button{
    border: none;
}

.tour_card_buttons>:first-child{
    background: var(--blue_color);
    color: var(--white_color);
    border-radius: 100px;
}
.tour_card_buttons>:last-child{
    background: var(--white_color);
}

.tour_card_price-cont p{
    display: flex;
    gap: 7px;
    align-items: baseline;
}
/************************************************tour card**/

/************************************************adap filter*/
.tour_adap-cont img{
    height: 16px;
}

.tour_adap-cont{
    display: grid;
    grid-row-gap: 20px;
}
/* .tour-adap_buttons-blocks{
    display: flex;
    justify-content: space-between;
} */

.t-a_b_block-1{
    height: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.t-a_b_block-2{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tour-adap_filter-block hr{
    border: none; /* Убираем границу для браузера Firefox */
    color: var(--blue_color); /* Цвет линии для остальных браузеров */
    background-color: var(--blue_color); /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

.tour-adap_filter-block p, .tour-adap_filter-block span{
    font-size: var(--header_4);
    color: var(--blue_color);
}

.t-a_f_c_name{
    padding: 10px 0 ;
    font-family: var(--weight_medium);
}

.t-a_f_c_b_chs-cont, .t-a_f_c_order-ul, .t-a_f_c_b_c_text-cont{
    margin: 10px 0;
    display: grid;
    grid-row-gap: 10px;
}

.t-a_f_c_order-ul{
    font-size: var(--header_4);
}

.t-a_f_c_chs_checkbox{
    display: flex;
    align-items: start;
    gap:5px;
}

.tour-adap_s-b-cont{
    display: grid;
    grid-template-columns: 1fr 25px;
    border: 1px solid var(--black_color);
}

.tour-adap_s-b-cont input{
    border: none;
}

.tour-adap_s-b-cont div{
    height: 25px;
    width: 25px;
    display: grid;
    align-items: center;
    justify-items: center;
    border-left: 1px solid var(--black_color);
}

/************************************************adap filter*/
.filter_on{
    background: var(--blue_color);
    padding-left: 10px;
    /* margin-right: 50px; */
    border-radius: 40px;
}

.filter_on p{
    color: var(--white_color);
}

.filter-adap_off{
    color: var(--blue_color);
}

.filter-adap_off p{
    color: var(--blue_color);
}

.filter-adap_on{
    background: var(--blue_color);
    padding-left: 10px;
    border-radius: 40px;
    color: var(--white_color);
}
.filter-adap_on p{
    color: var(--white_color);
}
/************************************************double slider*/
.tour_slider-cont{
    margin-bottom: 20px;
}

.tour_slider-cont p{
    margin-bottom: 10px;
}

.t_s__value{
    /* padding-bottom: 10px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.t_s__value_title{
    color: var(--blue_color);
    font-size: var(--header_4);
}

.t_s__double-slider{
    position: relative;
    height: 10px;
    /* background: red; */
    border-radius: 10px;
}

.t_s__double-slider__body{
    position: relative;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.t_s__double-slider__input{
    /* top: 20px; */
    position: absolute;
    padding: 0 10px;
    width: 100%;
    appearance: none;
    /* border-radius: 1px solid black; */
    -webkit-appearance: none;
    pointer-events: none;
    z-index: 4;
    cursor: pointer;
    opacity: 0;
}

.t_s__double-slider__input::-webkit-slider-thumb{
    pointer-events: all;
    width: 10px;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    display: block;
    background: red;
}

.t_s__double-slider__input::-moz-range-thumb{
    pointer-events: all;
    width: 10px;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    display: block;
    background: red;
}

.t_s__double-slider__input::-ms-thumb{
    pointer-events: all;
    width: 10px;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    display: block;
    background: red;
}

.t_s__double-slider__input::-webkit-slider-runnable-track{
    pointer-events: none;
}

.t_s__double-slider__track{
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: var(--gray_color);
    display: flex;
    align-items: center;
}

.t_s__double-slider__range{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    background: var(--blue_color);
    z-index: 2;
    border-radius: 10px;
}

.t_s__double-slider__dot{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--blue_color);
    z-index: 3;
}

.t_s__double-slider__dot--left{
    left: 25%;
    transform: translate(-50%);
}

.t_s__double-slider__dot--right{
    right: 25%;
    transform: translate(50%);
}

/************************************************double slider*/
/************************************************double adap slider*/
.tour-adap_slider-cont{
    margin: 10px 0 20px;
}

/************************************************double adap slider*/



